.workflow-menu-by-flow {
	width: 100%;
	.fa-angle-left{
		display: none;
	}
	&>li>.treeview-menu {
		margin-left: 10px;
	}
	.treeview-menu .treeview-menu {
		padding-left: 20px;
	}
	ul {
		background: #fff !important;
	}
}