// steedos:account包升级到@0.0.33以后的任何版本之后，以下登录界面样式相关代码就可以删除掉
.steedos.login {
    .at-form {
        a {
            color: white;
            outline: none;
            text-decoration: none;
        }
    }
}

.creator-content-wrapper {
    &.split {
        &>.split-left {
            top: 0;
            position: absolute;
            width: 250px;
            height: 100%;
        }
        &>.split-right {
            left: 250px;
            width: calc(~ "100% - 250px");
            position: relative;
            height: 100%;
        }
    }
}

@media (max-width: 767px) {
    .creatorHeader{
        display: none !important;
    }
    .creator-content-wrapper{
        top: 50px !important;
    }

    .grid-info-actions{
        display: none !important;
    }

    .grid-actions{
        display: none !important;
    }

    [class*="list-action-custom-"]{
        display: none;
    }

    .list-action-custom-standard_new{
        display: flex !important;
        border-radius: 0 0 0 0 !important;
    }

    .tabular_info{
        display: none !important;
    }

    .grid-search-div{
        width: 100%;
        >div{
            width: 100%;
            .search-in-list{
                width: 100%;
                margin: 0;
            }
        }
    }

    .creator_view{
        .slds-page-header_bleed{
            .slds-media__figure{
                display: none !important;
            }
        }
        .crm-breadcrumb-item{
            display: none !important;
        }
    }
}