body {

	background-size: cover;
	
	button {
		margin-right: 0px;
	}
	
	zoom: 1 !important;
}

.steedos.fixed {
	.content-wrapper {
		top: 90px;
		background: transparent;
		overflow: auto;
	}
	.dx-widget {
		font-size: 13px;
	}
	.slds-global-header_container {
		z-index: 1000;
		background: rgba(255, 255, 255, 0.9);
		border-bottom: 0;
		transition: all 1s ease-in-out 0.5s;
		x-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px, rgba(255, 255, 255, 0.2) 0 -1px 0 inset;

		.slds-global-header {
			background: transparent;
			box-shadow: none;

			.slds-global-header__logo {
				width: 12.5rem;
				height: 2.5rem;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: left center;
			}

		}
		.slds-context-bar {
			background: transparent;
			padding: 0px 0px 0px 1rem;
			border-bottom: 2px solid rgba(0, 161, 223, 1.0);
			color: rgb(8, 7, 7);
			a {
				text-decoration: none !important;
			}
			.slds-context-bar__app-name {
				font-weight: inherit;
			}
			.slds-context-bar__primary, .slds-context-bar__secondary, .slds-context-bar__tertiary {
				height: 2.5rem;
			}
			.slds-context-bar__item:not(.slds-no-hover):hover:after {
				bottom: auto;
				top: 0;
			}
			.slds-context-bar__item.slds-is-active:before {
				background: rgba(0, 161, 223, 1.0);
			}
		}
	}

	.slds-page-header {
		background: rgb(243, 242, 242);
	}

	.slds-button_neutral, .slds-button--neutral, .slds-button_icon-border-filled, .slds-button--icon-border-filled, .slds-button_icon-border, .slds-button--icon-border {
		border-color: #e7e7eb;
	}

	.slds-form-element {
		.control-label{
			font-weight: normal;
			color: rgb(112, 110, 107);
		}
	}
	.dx-datagrid {
		background: transparent;
		.dx-datagrid-headers {
			border-bottom: 0;
		}
		.dx-datagrid-rowsview {
			border-top: 0;
		}
		.dx-row {
			background-color: transparent;
		}
		.dx-freespace-row {
			td, td:hover {
				background-color: transparent;
			}
		}
		.dx-datagrid-pager.dx-widget {
			padding: 3px;
			font-size: 12px;
			border-top: 1px solid #ddd;
			.dx-page-sizes .dx-page-size {
				padding: 3px 8px 3px 8px;
			}
			.dx-pages .dx-page {
				padding: 3px 8px 3px 8px;			
			}
			.dx-pages .dx-prev-button, .dx-pages .dx-next-button {
				padding: 3px 8px 3px 8px;	
				line-height: 25px;
			}

		}
	}

	.slds-tabs_default__nav, .slds-tabs--default__nav {
		border-bottom: 1px solid #e7e7eb;
		.slds-tabs_default__item:after, .slds-tabs--default__item:after {
			height: 1px;
		}
	}

	.objectViewManager {
		.slds-tabs_default {
			background: transparent;
		}
	}

	.slds-modal__header {
		background-color: #F4F4F4;
		border-bottom: 1px solid #D5D5DA;
		color: #878687;
	}
	
	.slds-modal__footer {
		border-top: 1px solid #D5D5D5;
	}

	.forceEntityIcon.extraSmall {
	    width: 1.5rem;
	    height: 1.5rem;
	}

	.forceEntityIcon {
	    display: block;
	    border-radius: .125rem;
	}

	.creator_view #creator-tabular {
		.slds-card + .slds-card {
			margin-top: 0.75rem;
		}
	}
}



.flexipageBaseRecordHomeTemplateDesktop{
    min-width:968px;
    height:100%
}
.flexipageBaseRecordHomeTemplateDesktop .row-main{
    display:flex;
    flex-flow:row nowrap;
    margin: .75rem 0 0 0;
}
.flexipageBaseRecordHomeTemplateDesktop .region-subheader{
    margin-top:.75rem
}
.flexipageBaseRecordHomeTemplateDesktop .region-main{
    flex:auto;
    max-width:70%;
    min-width:564px
}
.flexipageBaseRecordHomeTemplateDesktop .region-full-width{
    max-width:100%
}
.flexipageBaseRecordHomeTemplateDesktop .region-sidebar-right,.flexipageBaseRecordHomeTemplateDesktop .region-sidebar-left{
    flex:0 0 auto;
    width:calc(100% / 3);
    min-width:404px
}
.flexipageBaseRecordHomeTemplateDesktop .region-sidebar-right{
    padding-left:.75rem;
    padding-right:0
}
.flexipageBaseRecordHomeTemplateDesktop .region-sidebar-left{
    padding-left:0;
    padding-right:.75rem
}
/* 暂时停用右侧栏，原始 (max-width:47.9375em) */
@media only screen and (max-width:1047.9375em){
    .flexipageBaseRecordHomeTemplateDesktop{
        min-width:auto
    }
    .flexipageBaseRecordHomeTemplateDesktop .row-main{
        flex-direction:column;
    }
    .flexipageBaseRecordHomeTemplateDesktop .region-main{
        min-width:auto;
        max-width:initial
    }
    .flexipageBaseRecordHomeTemplateDesktop .region-sidebar-right,.flexipageBaseRecordHomeTemplateDesktop .region-sidebar-left{
        min-width:auto;
        width:100%;
        padding:0
    }
    .flexipageBaseRecordHomeTemplateDesktop .region-sidebar-right{
        margin-top:.75rem
    }
}

