.admin-home-content .admin-grids .admin-grid-item .admin-grid-icon i.ion, 
.admin-home-content .admin-grids .admin-grid-item .admin-grid-icon i.fa {
    font-size: 36px;
    color: #00ACC1;
}
.admin-home-content{
    padding:0 15px;
    .admin-grids{
        padding: 20px 0px;
        &.dark-grids{
            background: #f9f9f9;
            border-top: solid 1px #e3e3e3;
            border-bottom: solid 1px #e3e3e3;
        }
        .admin-grid-item{
            .admin-grid-icon {
                width:100%;
            }
            .admin-grid-label {
                width:100%;
                color: #3e3e3e;
                white-space: normal;
            }
        }
    }
    .admin-account-panel{
        @media (min-width: 767px){
            display: none;
        }
        -webkit-box-shadow: 0 0 120px #d3d3d3;
        -moz-box-shadow: 0 0 60px #d3d3d3;
        box-shadow: 0 0 120px #d3d3d3;
        padding: 10px 15px;
        background: #FFF;
        margin: 10px 0;
        .admin-space-logo{
            clear: both;
            height: 50px;
            position: relative;
            .space-name{
                position: absolute;
                left: 0;
                right: 70px;
            }
            .user-image{
                width: 50px;
                height: 50px;
                border-radius: 4px;
                float: right;
            }
        }
        .admin-user-name{
            font-size: 18px;
            font-weight: bold;
        }
    }
}